<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /steeping/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /steeping/index.html [L]
</IfModule>
